---

import '@fontsource-variable/red-hat-display';
import '@fontsource/inclusive-sans';
import '@fontsource-variable/outfit';

---

<div class="navbar bg-amber-50">
    <div class="flex-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="5rem" height="4rem" viewBox="0 0 24 24"><g fill="none" stroke="#343434" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" color="black"><path d="M12 12s-1.643 2.5-3.3 2.5S6 13.38 6 12s1.043-2.5 2.7-2.5S12 12 12 12m0 0s1.643 2.5 3.3 2.5S18 13.38 18 12s-1.043-2.5-2.7-2.5S12 12 12 12"/><path d="M2.5 12c0-4.478 0-6.718 1.391-8.109S7.521 2.5 12 2.5c4.478 0 6.718 0 8.109 1.391S21.5 7.521 21.5 12c0 4.478 0 6.718-1.391 8.109S16.479 21.5 12 21.5c-4.478 0-6.718 0-8.109-1.391S2.5 16.479 2.5 12"/></g></svg>
        <a href="/" class="text-5xl tracking-tighter font-extrabold px-3">ZANDLER</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal text-4xl tracking-tighter">
        <li><a href="/">Inicio</a></li>
        <li><a href="/about">Sobre mim</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/project">Projetos</a></li>
    </ul>
    </div>
  </div>

  <style>
    a: {
      font-family: 'Outfit Variable';
      font-color: #343434;
    }
  </style>

  
