---
import Button from "../ui/Button.astro";
import Section from "../ui/Section.astro";
---

<Section
  id="about"
  title="About"
  subtitle="There and Back Again. - Baggins, Bilbo"
>
  <div class="grid md:grid-cols-2 gap-12 items-center">
    <div class="relative">
      <div class="relative z-10 overflow-hidden p-1">
        <div class="w-full h-full overflow-hidden">
          <img
            src="/assets/images/devops_culture.png"
            alt="SRE/Devops"
            class="w-full h-full object-cover"
          />
        </div>
      </div>
      <!-- Background decoration -->
      <div
        class="absolute top-10 -left-6 w-28 h-28 bg-primary/20 dark:bg-primary/10 rounded-full filter blur-xl"
      >
      </div>
      <div
        class="absolute -bottom-6 -right-6 w-28 h-28 bg-secondary/20 dark:bg-secondary/10 rounded-full filter blur-xl"
      >
      </div>
    </div>

    <div class="space-y-6">
      <h3 class="text-2xl font-bold">
        <span
              class="bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent"
              >IT Solver
              
              </span
            > <br /> Trying to be a runner in spare time (5Km now)
      </h3>

      <p class="text-gray-600 dark:text-gray-300">
        Most part of my carrer was in fintech's and bank's.
        <br /><br />
        I have worked as an infrastructure analyst, devops (yes, i know), solutions architect, functional, DevXP, DevRel and I am currently publishing some SRE stuff<br /><br />
        
        With over 15 years of experience, I have helped many companies improve their performance, sometimes with processes, sometimes with tools and always with culture.
      </p>



      <div class="pt-2">
        <Button href="/assets/cv.pdf" target="_blank">Download CV</Button>
      </div>
    </div>
  </div>
</Section>

