---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="CV" sideBarActiveItemID="cv">
  <div class="mb-10">
    <div class="text-3xl w-full font-bold">Um pouco da minha trajetória</div>
  </div>

  <div class="mb-10">
     Download do curriculo. Cuidado, PDF! <br><br>
    <button class="btn btn-outline btn-wide btn-info">Download</button>
  </div>
  <div class="mb-10 text-justify">
    Com sólida experiência em arquitetura de sistemas e operações em ambientes de nuvem, atuo como Arquiteto de Soluções, focando em projetar e implementar soluções robustas e escaláveis. Minha expertise inclui o gerenciamento e a otimização de ambientes cloud, garantindo alta disponibilidade, performance e segurança.<br>
<br>
  Além disso, possuo experiência prática em DevOps e SRE (Site Reliability Engineering), onde aperfeiçoei minhas habilidades em automação de processos, integração contínua e monitoramento de sistemas. Minhas competências técnicas abrangem a configuração e manutenção de pipelines CI/CD, infraestrutura como código e gerenciamento de contêineres, contribuindo para a eficiência operacional e inovação tecnológica.
  </div>

  <div class="mb-10">
    <div class="text-3xl w-full font-bold">Habilidades</div>
  </div>
  

<div class="mb-10">
    <div class="radial-progress bg-cyan-100 text-cyan-600" style="--value:22; --size:8em; --thickness: 8px" role="progressbar">
      Go / Python
    </div>
    <div class="radial-progress bg-cyan-100 text-cyan-600" style="--value:41; --size:8rem; --thickness: 8px" role="progressbar">
      CI/CD
    </div>
    <div class="radial-progress bg-cyan-100 text-cyan-600" style="--value:50; --size:8rem; --thickness: 8px" role="progressbar">
      Liderança
    </div>
    <div class="radial-progress bg-cyan-100 text-cyan-600" style="--value:57; --size:8rem; --thickness: 8px" role="progressbar">
      Agilidade
    </div>
    <div class="radial-progress bg-cyan-100 text-cyan-600" style="--value:68; --size:8rem; --thickness: 8px" role="progressbar">
      Mochilão
    </div>
    <div class="radial-progress bg-cyan-100 text-cyan-600" style="--value:87; --size:8rem; --thickness: 8px" role="progressbar">
      Cloud
    </div>
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Formação</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Sistemas de Informação"
      subtitle="2012 a 2016 na Faculdade Promove, Belo Horizonte, Brasil"
    />
    <TimeLineElement
      title="Redes de Computadores (Não concluído)"
      subtitle="2011 a 2012 na Faculdade UNA, Belo Horizonte, Brasil "
    />
    <TimeLineElement
      title="Gestão de Tecnolocia da Informação (Não concluído)"
      subtitle="2009 a 2011 na Faculdade UNIBH, Belo Horizonte, Brasil "
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiência</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="DevRel / DevXP"
      subtitle="2024 até o momento no Banco Bmg, Belo Horizonte, Brasil"
    >
    - Facilitar o ciclo de desenvolvimento, reduzindo a carga cognitiva e complexidade desenvolvedor para que ele entregue e foque na solução de problema do negócio e não em como entregar. 
    <br> - Ajuda na plataforma (Backstage atualmente)
    <br>- Auxilio ao time de arquitetura e desenvolvimento
    <br><br>
    </TimeLineElement>
    <TimeLineElement
      title="Arquiteto de Soluções / Arquitetura Técnica"
      subtitle="02/2023 a 12/2023 no Banco Bmg, Belo Horizonte, Brasil"
    >
    - FinOps em nuvem publicas (Redução de 30% dos custos em dois meses)
    <br>- Adequação , programação de serviços para automatizar redução de custos nas nuvens
    <br>- Governança com boa práticas no uso dos serviços 
    <br>- Definição de arquitetura de referencia para linguagens de programação, serviços de cloud 
    <br>- Ajuda ao time de engenharia na solução de problemas arquiteturais
    <br>- Ajuda na implementação e melhoria da plataforma interna baseada no backstage do spotify 
    <br>- Criação CLI intenro para facilitar o desenvolvedor na tarefas locais
    <br><br>
    </TimeLineElement>
    <TimeLineElement
      title="Senior SRE"
      subtitle="09/2022 a 01/2023 no Banco BTG Pactual, São Paulo, Brasil"
    >
      - Atendimento aos times para solução de problemas em cloud
      <br>- Migração dos serviços de ELK para Openseach
      <br><br>
    </TimeLineElement>
    <TimeLineElement
      title="Head Sre / Arquitetura / Banco de dados"
      subtitle="07/2021 a 07/2022 no Banco Semear, Belo Horizonte, Brasil"
    >
    - Responsável pela migração de 100% do workload bancário (DEV/HML/PRD) de datacenter ALGAR para AWS.
    <br>- Definição de padrões arquiteturais 
    <br>- Treinamento e capacitação do time de infra para SRE / Cloud Engineer
    </TimeLineElement>
    
   
  </div>
  <div class="text-3x1 text-cyan-600 text-bold" >
    Tenho outras experiências, desde 20024, mas deixo aqui minhas 4 ultimas. Caso tenha interesse, pode dar uma olhada no Linkedin. :)
  </div>
  <br><br><br>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificações</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      AWS Certified Cloud Practioner
    </li>
    <li>
     AWS Solutions Architech
    </li>
    <li>
      Azure 
    </li>
    <li>
      Oracle Cloud Infrastructure Associate
    </li>
    <li>
      SCRUM Fundamental Certified
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Trabalho voluntário</div>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      DevopBH (Organizador)
    </li>
    <li>
     Devops Bootcamp (Organizador)
    </li>
    <li>
      DevopsDaysBH (Organizador)
    </li>
  </ul>
  
</BaseLayout>
