---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";
import VerticalCard from "../components/VerticalCard.astro"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-10">
    
    <div class="text-5xl text-cyan-600 font-bold">Zandler Oliveira</div>
   
    <div class="text-2xl py-2 font-bold">Pessoa pessoal de pessoas</div>
    <div class="py-2">
      <text class="text-lg">
        Este site eu criei como poc para descobrir que não levo jeito como frontend. <br>
        Atuo como DevRel / Arquiteto / SRE / Tech Lead, dependendo da necessidade.
      </text>
    </div>
    
  </div>

 
<br>
  <ul class="timeline mb-20">
    <li>
      <div class="timeline-start timeline-box">Service desk</div>
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="text-cyan-600 h-5 w-5">
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd" />
        </svg>
      </div>
      <hr class="bg-cyan-300" />
    </li>
    <li>
      <hr class="bg-cyan-300" />
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="text-cyan-600 h-5 w-5">
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd" />
        </svg>
      </div>
      <div class="timeline-end timeline-box">infraestrutura</div>
      <hr class="bg-cyan-300" />
    </li>
    <li>
      <hr class="bg-cyan-300" />
      <div class="timeline-start timeline-box">SRE</div>
      
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="text-cyan-600 h-5 w-5">
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd" />
        </svg>
      </div>
      <hr class="bg-cyan-300" />
    </li>
    <li>

      <hr class="bg-cyan-300" />
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="text-cyan-600 h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5">
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd" />
        </svg>
      </div>
      
      <div class="timeline-end timeline-box">Arquitetura</div>
      <hr class="bg-cyan-300" />
    </li>
    <li>
      <hr class="bg-cyan-300" />
      <div class="timeline-start timeline-box">DevXP / DevRel</div>
      <hr class="bg-cyan-300" />
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="text-cyan-600 h-5 w-5"
          class="h-5 w-5">
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd" />
        </svg>
      </div>
    </li>
    <li>

      <hr class="bg-cyan-300" />
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="text-cyan-600 h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5">
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd" />
        </svg>
      </div>
      
      <div class="timeline-end timeline-box">???</div>
      <hr class="bg-cyan-300" />
    </li>
    
  </ul>


  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Ultimas postagens </div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
